body{
    background-color: #fdfdfd;
    color: 	black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

p{
    font-family: 'Times New Roman', Times, serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.menu-pc{
    padding-top: 0px;
}

.menu-pc ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    padding-top: 0px;
}

li{
    margin: 0 60px;
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.menu-pc a{
    transition: .6s;
}

.menu-pc a:hover{
    color: #1a319b;
}

.logop img{
    margin: -20px 0px;
    margin-top: 10px;
    width: 200px;
    height: 160px;
}

.center{
    text-align: center;
}

.pdfs{
    margin-top: 160px;
    font-size: 20px;
}

.pdfs a{
    font-size: 24px;
    background-color: #8B0000;
    color: #DCDCDC;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #8B0000;
    border-left: 10px solid #B22222;
    transition: all 0.25s ease-in-out;
}

.pdfs a:hover{
    color: #8B0000;
    background-color: #DCDCDC;
}

aside{
    padding-left: 10px;
}

.mapas{
    padding: 40px 4%;
    margin-top: -30px;
}

.interface{
    padding: 40px;
    border-radius: 20px;
    transition: .3s;
    background-color: #1a319b;
}

.interface:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #1a319b;
}

.interface h3{
    color: white;
    font-size: 24px;
}

.mapas img{
    height: 150px;
    width: 250px;
}

.especialidades{
    display: flex;
    gap: 50px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

.txtcor{
    color: #1a319b;
}

.pdfs h1{
    text-align: center;
    font-size: 38px;
}

.img-prc img{
    height: 300px;
    width: 400px;
}

.mapamental{
    padding: 40px 4%;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.explicacao{
    padding: 40px 4%;
    padding-top: 0px;
    padding-bottom: 100px;
}

.explicacao1{
    display: flex;
    align-items: center;
    gap: 60px;
}

.explicacao1 div h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.explicacao1 div span{
    color: #1a319b;
}

.explicacao1 div p{
    margin: 20px 0;
    text-align: justify;
}

.img-fora{
    display: block;
    text-align: center;
}

.img-fora h2{
    font-size: 42px;
}

.img-fora p{
    margin-top: -10px;
    font-size: 14px;
}

.btn-mapas button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #1a319b;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

.btn-mapas button:hover{
    color: black;
}

footer img{
    height: 100px;
}

footer{
    background-color: #1a319b;
    display: flex;
    justify-content: center;
    gap: 540px;
    color: #DCDCDC;
}

footer a{
    color: #DCDCDC;
}

.footer1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.sobre-nos12 img{
    height: 250px;
    width: 350px;
}

.sobre-nos{
    padding: 40px 4%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.sobre-nos1{
    display: flex;
    align-items: center;
    gap: 60px;
}

.sobre-nos11 h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre-nos11 span{
    color: #1a319b;
}

.sobre-nos11 p{
    margin: 20px 0;
    text-align: justify;
}



.img_sobre1 img{
    width: 200px;
}

.img_sobre1 p{
    width: 350px;
}

.img_sobre1{
    display: flex;
    gap: 20px;
    align-items: center;
}

.img_sobre2 img{
    width: 200px;
    height: 220px;
}

.img_sobre2 p{
    width: 350px;
}

.img_sobre2{
    display: flex;
    gap: 20px;
    align-items: center;
}

.img_sobre{
    display: flex;
    gap: 50px;
}

.nomes-12{
    padding-top: 35px;
}

#download-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: solid 1px black;
    background-color: #1a319b;
    padding: 20px 40px;
    color: white;
    border-radius: 20px;
}

.nome{
    margin-top: -5px;
}

#download-form h2{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -50px;
}

#download-form footer{
    gap: 30px;
}

.form1{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 40px;
    margin-top: -60px;
}

.form0{
    outline: unset;
    padding: 14px;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 14px;
}

.form0:focus{
    background-color: rgb(197, 194, 194);
}

button.btn-env{
    margin-top: -60px;
    margin-left: 170px;
}

.btn-env{
    background-color: #1a319b;
    border: 1px solid white;
    padding: 20px;
    width: 150px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.btn-env:hover{
    background-color: #45559b;
    color: black;
}

.selecao{
    padding: 15px;
    width: 330px;
    border-radius: 20px;
    font-size: 14px;
}

.selecao:focus{
    background-color: rgb(197, 194, 194);
}

.btn-abrir-menu i{
    color: #1a319b;
    font-size: 28px;
    margin-right: 40px;
}

.overlay-menu{
    background-color: rgba(255, 255, 255, 0.658);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.menu-mobile.abrir-menu{
    width: 65%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
} 

.menu-mobile{
    background-color: #1a319b;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -10px;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .3s;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li{
    padding: 20px 4%;
    width: 100px;
    list-style-type: none;
}

.menu-mobile nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 320;
    display: block;
    padding: 15px 7%;
}

.menu-mobile nav ul li a:hover{
    background-color: white;
    color: #1a319b;
}

.btn-fechar{
    padding: 21px 7%;
}

.btn-fechar i{
    color: white;
    font-size: 30px;
}

.btn-abrir-menu{
    display: none;
}

@media (max-width: 450px){

    body{
        overflow-x: hidden;
    }

    .btn-abrir-menu{
        display: grid;
    }

    .menu-pc{
        display: none;
    }

    .logop img{
        width: 180px;
        height: 140px;
        margin-top: -5px;
        margin-left: -35px;
    }

    .mapamental{
        flex-direction: column-reverse;
    }

    .img-prc{
        margin-top: -90px; 
    }

    .img-fora h2{
        line-height: 30px;
        margin-top: 5px;
        font-size: 30px;
    }

    .img-fora h2 span{
        line-height: 35px;
    }

    .img-fora p{
        margin-top: -20px;
        line-height: 17px;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .img-prc img{
        height: 220px;
        width: 270px;
    }

    .explicacao1{
        flex-direction: column-reverse;
        margin-top: -150px;
    }

    .explicacao1 div p{
        margin-top: -10px;
        font-size: 16px;
        line-height: 15px;
        width: 300px;
    }

    .img-fora{
        margin-top: -100px;
    }

    .img_sobre{
        display: block;
        margin-bottom: -200px;
        margin-top: -140px;
    }

    .img_sobre1 img{
        margin-top: 120px;
        width: 100px;
        margin-left: 0px;
    }

    .img_sobre1{
        display: flex;
    }

    #o-que-e img{
        display: none;
    }

    .sobre-nos11{
        margin-top: -200px;
    }

    .nomes-1 h3{
        font-size: 17px;
        margin-left: -10px;
        margin-top: 130px;
        margin-bottom: -10px;
    }

    .nomes-1 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .nomes1 img{
        width: 100px;
        height: 120px;
        margin-left: 0px
    }

    .nomes-12 h3{
        font-size: 19px;
        margin-left: -10px;
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .nomes-12 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .img_sobre2{
        gap: 20px;
        display: flex;
    }

    footer{
        gap: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer1{
        margin-top: -20px;
        display: flex;
        align-items: center;
    }

    .footer1 a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        margin-left: 10px;
    }

    .footer1 p{
        font-size: 14px;
        margin-left: -25px;
        padding-right: 50px;
    }

    #download-form{
        top: 50%;
        left: 50%;
        padding: 15px 25px;
    }
    
    #download-form h2{
        font-size: 21px;
        margin-top: -50px;
        margin-left: 15px;
    }
    
    .form1{
        margin-left: -30px;
        margin-top: -55px;
    }
    
    .form0{
        margin-left: 40px;
        width: 200px;
    }
    
    button.btn-env{
        margin-top: -45px;
        margin-left: 130px;
    }
    
    .btn-env{
        padding: 11px;
        width: 110px;
        margin-left: 40px;
    }

    .selecao{
        padding: 13px;
        width: 230px;
        margin-left: 40px;
    }
    
    .nome{
        font-size: 15px;
        margin-left: 45px;
        margin-bottom: 0px;
    }

    .interface{
        padding: 20px;
        margin-left: 3px;
    }
    
    .interface h3{
        font-size: 21px;
        width: 150px;
    }
    
    .mapas img{
        height: 90px;
        width: 150px;
    }
    
    .especialidades{
        display: flex;
        gap: 5px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    a.download-link{
        font-size: 15px;
        padding: 6px 6px;
    }

    .pdfs h1{
        font-size: 30px;
    }
    

}

@media (max-width: 428px){

    body{
        overflow-x: hidden;
    }

    .btn-abrir-menu{
        display: grid;
    }

    .menu-pc{
        display: none;
    }

    .logop img{
        width: 180px;
        height: 140px;
        margin-top: -5px;
        margin-left: -35px;
    }

    .mapamental{
        flex-direction: column-reverse;
    }

    .img-prc{
        margin-top: -90px; 
    }

    .img-fora h2{
        line-height: 30px;
        margin-top: 5px;
        font-size: 30px;
    }

    .img-fora h2 span{
        line-height: 35px;
    }

    .img-fora p{
        margin-top: -20px;
        line-height: 17px;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .img-prc img{
        height: 220px;
        width: 270px;
    }

    .explicacao1{
        flex-direction: column-reverse;
    }

    .explicacao1 div p{
        margin-top: -10px;
        font-size: 16px;
        line-height: 15px;
        width: 300px;
    }

    .explicacao{
        margin-top: 130px;
    }

    .img-fora{
        margin-top: -100px;
    }

    .img_sobre{
        display: block;
        margin-bottom: -200px;
        margin-top: -140px;
    }

    .img_sobre1 img{
        margin-top: 120px;
        width: 100px;
        margin-left: 0px;
    }

    .img_sobre1{
        display: flex;
    }

    #o-que-e img{
        display: none;
    }

    .sobre-nos11{
        margin-top: -200px;
    }

    .nomes-1 h3{
        font-size: 17px;
        margin-left: -10px;
        margin-top: 130px;
        margin-bottom: -10px;
    }

    .nomes-1 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .nomes1 img{
        width: 100px;
        height: 120px;
        margin-left: 0px
    }

    .nomes-12 h3{
        font-size: 19px;
        margin-left: -10px;
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .nomes-12 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .img_sobre2{
        gap: 20px;
        display: flex;
    }

    footer{
        gap: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer1{
        margin-top: -20px;
        display: flex;
        align-items: center;
    }

    .footer1 a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        margin-left: 10px;
    }

    .footer1 p{
        font-size: 14px;
        margin-left: -25px;
        padding-right: 50px;
    }

    #download-form{
        top: 50%;
        left: 50%;
        padding: 15px 25px;
    }
    
    #download-form h2{
        font-size: 21px;
        margin-top: -50px;
        margin-left: 15px;
    }
    
    .form1{
        margin-left: -30px;
        margin-top: -55px;
    }
    
    .form0{
        margin-left: 40px;
        width: 200px;
    }
    
    button.btn-env{
        margin-top: -45px;
        margin-left: 130px;
    }
    
    .btn-env{
        padding: 11px;
        width: 110px;
        margin-left: 40px;
    }

    .selecao{
        padding: 13px;
        width: 230px;
        margin-left: 40px;
    }
    
    .nome{
        font-size: 15px;
        margin-left: 45px;
        margin-bottom: 0px;
    }

    .interface{
        padding: 20px;
        margin-left: 3px;
    }
    
    .interface h3{
        font-size: 17px;
        width: 150px;
    }
    
    .mapas img{
        height: 90px;
        width: 150px;
    }
    
    .especialidades{
        display: flex;
        gap: 5px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    a.download-link{
        font-size: 15px;
        padding: 6px 6px;
    }

    .pdfs h1{
        font-size: 30px;
    }

}

@media (max-width: 414px){

    body{
        overflow-x: hidden;
    }

    .btn-abrir-menu{
        display: grid;
    }

    .menu-pc{
        display: none;
    }

    .logop img{
        width: 180px;
        height: 140px;
        margin-top: -5px;
        margin-left: -35px;
    }

    .mapamental{
        flex-direction: column-reverse;
    }

    .img-prc{
        margin-top: -90px; 
    }

    .img-fora h2{
        line-height: 30px;
        margin-top: 5px;
        font-size: 30px;
    }

    .img-fora h2 span{
        line-height: 35px;
    }

    .img-fora p{
        margin-top: -20px;
        line-height: 17px;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .img-prc img{
        height: 220px;
        width: 270px;
    }

    .explicacao1{
        flex-direction: column-reverse;
    }

    .explicacao1 div p{
        margin-top: -10px;
        font-size: 16px;
        line-height: 15px;
        width: 300px;
    }

    .explicacao{
        margin-top: 130px;
    }

    .img-fora{
        margin-top: -100px;
    }

    .img_sobre{
        display: block;
        margin-bottom: -200px;
        margin-top: -140px;
    }

    .img_sobre1 img{
        margin-top: 120px;
        width: 100px;
        margin-left: 0px;
    }

    .img_sobre1{
        display: flex;
    }

    #o-que-e img{
        display: none;
    }

    .sobre-nos11{
        margin-top: -200px;
    }

    .nomes-1 h3{
        font-size: 17px;
        margin-left: -10px;
        margin-top: 130px;
        margin-bottom: -10px;
    }

    .nomes-1 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .nomes1 img{
        width: 100px;
        height: 120px;
        margin-left: 0px
    }

    .nomes-12 h3{
        font-size: 19px;
        margin-left: -10px;
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .nomes-12 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .img_sobre2{
        gap: 20px;
        display: flex;
    }

    footer{
        gap: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer1{
        margin-top: -20px;
        display: flex;
        align-items: center;
    }

    .footer1 a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        margin-left: 10px;
    }

    .footer1 p{
        font-size: 14px;
        margin-left: -25px;
        padding-right: 50px;
    }

    #download-form{
        top: 50%;
        left: 50%;
        padding: 15px 25px;
    }
    
    #download-form h2{
        font-size: 21px;
        margin-top: -50px;
        margin-left: 15px;
    }
    
    .form1{
        margin-left: -30px;
        margin-top: -55px;
    }
    
    .form0{
        margin-left: 40px;
        width: 200px;
    }
    
    button.btn-env{
        margin-top: -45px;
        margin-left: 130px;
    }
    
    .btn-env{
        padding: 11px;
        width: 110px;
        margin-left: 40px;
    }

    .selecao{
        padding: 13px;
        width: 230px;
        margin-left: 40px;
    }
    
    .nome{
        font-size: 15px;
        margin-left: 45px;
        margin-bottom: 0px;
    }

    .interface{
        padding: 20px;
        margin-left: 3px;
    }
    
    .interface h3{
        font-size: 17px;
        width: 150px;
    }
    
    .mapas img{
        height: 90px;
        width: 150px;
    }
    
    .especialidades{
        display: flex;
        gap: 5px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    a.download-link{
        font-size: 15px;
        padding: 6px 6px;
    }

    .pdfs h1{
        font-size: 30px;
    }

}

@media (max-width: 412px){

    body{
        overflow-x: hidden;
    }

    .btn-abrir-menu{
        display: grid;
    }

    .menu-pc{
        display: none;
    }

    .logop img{
        width: 180px;
        height: 140px;
        margin-top: -5px;
        margin-left: -35px;
    }

    .mapamental{
        flex-direction: column-reverse;
    }

    .img-prc{
        margin-top: -90px; 
    }

    .img-fora h2{
        line-height: 30px;
        margin-top: 5px;
        font-size: 30px;
    }

    .img-fora h2 span{
        line-height: 35px;
    }

    .img-fora p{
        margin-top: -20px;
        line-height: 17px;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .img-prc img{
        height: 220px;
        width: 270px;
    }

    .explicacao1{
        flex-direction: column-reverse;
    }

    .explicacao1 div p{
        margin-top: -10px;
        font-size: 16px;
        line-height: 15px;
        width: 300px;
    }

    .explicacao{
        margin-top: 130px;
    }

    .img-fora{
        margin-top: -100px;
    }

    .img_sobre{
        display: block;
        margin-bottom: -200px;
        margin-top: -140px;
    }

    .img_sobre1 img{
        margin-top: 120px;
        width: 100px;
        margin-left: 0px;
    }

    .img_sobre1{
        display: flex;
    }

    #o-que-e img{
        display: none;
    }

    .sobre-nos11{
        margin-top: -200px;
    }

    .nomes-1 h3{
        font-size: 17px;
        margin-left: -10px;
        margin-top: 130px;
        margin-bottom: -10px;
    }

    .nomes-1 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .nomes1 img{
        width: 100px;
        height: 120px;
        margin-left: 0px
    }

    .nomes-12 h3{
        font-size: 19px;
        margin-left: -10px;
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .nomes-12 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .img_sobre2{
        gap: 20px;
        display: flex;
    }

    footer{
        gap: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer1{
        margin-top: -20px;
        display: flex;
        align-items: center;
    }

    .footer1 a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        margin-left: 10px;
    }

    .footer1 p{
        font-size: 14px;
        margin-left: -25px;
        padding-right: 50px;
    }

    #download-form{
        top: 50%;
        left: 50%;
        padding: 15px 25px;
    }
    
    #download-form h2{
        font-size: 21px;
        margin-top: -50px;
        margin-left: 15px;
    }
    
    .form1{
        margin-left: -30px;
        margin-top: -55px;
    }
    
    .form0{
        margin-left: 40px;
        width: 200px;
    }
    
    button.btn-env{
        margin-top: -45px;
        margin-left: 130px;
    }
    
    .btn-env{
        padding: 11px;
        width: 110px;
        margin-left: 40px;
    }

    .selecao{
        padding: 13px;
        width: 230px;
        margin-left: 40px;
    }
    
    .nome{
        font-size: 15px;
        margin-left: 45px;
        margin-bottom: 0px;
    }

    .interface{
        padding: 20px;
        margin-left: 3px;
    }
    
    .interface h3{
        font-size: 17px;
        width: 150px;
    }
    
    .mapas img{
        height: 90px;
        width: 150px;
    }
    
    .especialidades{
        display: flex;
        gap: 5px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    a.download-link{
        font-size: 15px;
        padding: 6px 6px;
    }

    .pdfs h1{
        font-size: 30px;
    }

}

@media (max-width: 393px){

    body{
        overflow-x: hidden;
    }

    .btn-abrir-menu{
        display: grid;
    }

    .menu-pc{
        display: none;
    }

    .logop img{
        width: 180px;
        height: 140px;
        margin-top: -5px;
        margin-left: -35px;
    }

    .mapamental{
        flex-direction: column-reverse;
    }

    .img-prc{
        margin-top: -90px; 
    }

    .img-fora h2{
        line-height: 30px;
        margin-top: 5px;
        font-size: 30px;
    }

    .img-fora h2 span{
        line-height: 35px;
    }

    .img-fora p{
        margin-top: -20px;
        line-height: 17px;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .img-prc img{
        height: 220px;
        width: 270px;
    }

    .explicacao{
        margin-top: 0px;
    }

    .explicacao1{
        flex-direction: column-reverse;
        margin-top: 0px;
    }

    .explicacao1 div h2{
        text-align: center;
    }

    .explicacao1 div p{
        margin-top: -10px;
        font-size: 16px;
        line-height: 15px;
        width: 300px;
    }

    .sobre-nos{
        margin-top: 50px;
    }

    .img-fora{
        margin-top: -100px;
    }

    .img_sobre{
        display: block;
        margin-bottom: -200px;
        margin-top: -140px;
    }

    .img_sobre1 img{
        margin-top: 120px;
        width: 100px;
        margin-left: 0px;
    }

    .img_sobre1{
        display: flex;
    }

    #o-que-e img{
        display: none;
    }

    .sobre-nos11{
        margin-top: -200px;
    }

    .sobre-nos11 h2{
        text-align: center;
    }

    .nomes-1 h3{
        font-size: 17px;
        margin-left: -10px;
        margin-top: 130px;
        margin-bottom: -10px;
    }

    .nomes-1 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .nomes1 img{
        width: 100px;
        height: 120px;
        margin-left: 0px
    }

    .nomes-12 h3{
        font-size: 19px;
        margin-left: -10px;
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .nomes-12 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .img_sobre2{
        gap: 20px;
        display: flex;
    }

    footer{
        gap: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer1{
        margin-top: -20px;
        display: flex;
        align-items: center;
    }

    .footer1 a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        margin-left: 10px;
    }

    .footer1 p{
        font-size: 14px;
        margin-left: -25px;
        padding-right: 50px;
    }

    #download-form{
        top: 50%;
        left: 50%;
        padding: 15px 25px;
    }
    
    #download-form h2{
        font-size: 21px;
        margin-top: -50px;
        margin-left: 15px;
    }
    
    .form1{
        margin-left: -30px;
        margin-top: -55px;
    }
    
    .form0{
        margin-left: 40px;
        width: 200px;
    }
    
    button.btn-env{
        margin-top: -45px;
        margin-left: 130px;
    }
    
    .btn-env{
        padding: 11px;
        width: 110px;
        margin-left: 40px;
    }

    .selecao{
        padding: 13px;
        width: 230px;
        margin-left: 40px;
    }
    
    .nome{
        font-size: 15px;
        margin-left: 45px;
        margin-bottom: 0px;
    }

    .interface{
        padding: 20px;
        margin-left: 3px;
    }
    
    .interface h3{
        font-size: 17px;
        width: 150px;
    }
    
    .mapas img{
        height: 90px;
        width: 150px;
    }
    
    .especialidades{
        display: flex;
        gap: 5px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        margin-top: -30px;
    }

    a.download-link{
        font-size: 15px;
        padding: 6px 6px;
    }

    .pdfs h1{
        font-size: 30px;
    }
    
    .pdfs{
        margin-top: 0px;
    }

    #mapas1{
        margin-top: 200px;
    }

}

@media (max-width: 360px){

    body{
        overflow-x: hidden;
    }

    .btn-abrir-menu{
        display: grid;
    }

    .menu-pc{
        display: none;
    }

    .logop img{
        width: 180px;
        height: 140px;
        margin-top: -5px;
        margin-left: -35px;
    }

    .mapamental{
        flex-direction: column-reverse;
    }

    .img-prc{
        margin-top: -90px; 
    }

    .img-fora h2{
        line-height: 30px;
        margin-top: 5px;
        font-size: 30px;
    }

    .img-fora h2 span{
        line-height: 35px;
    }

    .img-fora p{
        margin-top: -20px;
        line-height: 17px;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .img-prc img{
        height: 220px;
        width: 270px;
    }

    .explicacao{
        margin-top: 150px;
    }

    .explicacao1{
        flex-direction: column-reverse;
        margin-top: 0px;
    }

    .explicacao1 div h2{
        text-align: center;
    }

    .explicacao1 div p{
        margin-top: -10px;
        font-size: 16px;
        line-height: 15px;
        width: 300px;
    }

    .sobre-nos{
        margin-top: 50px;
    }

    .img-fora{
        margin-top: -100px;
    }

    .img_sobre{
        display: block;
        margin-bottom: -200px;
        margin-top: -140px;
    }

    .img_sobre1 img{
        margin-top: 120px;
        width: 100px;
        margin-left: 0px;
    }

    .img_sobre1{
        display: flex;
    }

    #o-que-e img{
        display: none;
    }

    .sobre-nos11{
        margin-top: -200px;
    }

    .sobre-nos11 h2{
        text-align: center;
    }

    .nomes-1 h3{
        font-size: 17px;
        margin-left: -10px;
        margin-top: 130px;
        margin-bottom: -10px;
    }

    .nomes-1 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .nomes1 img{
        width: 100px;
        height: 120px;
        margin-left: 0px
    }

    .nomes-12 h3{
        font-size: 19px;
        margin-left: -10px;
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .nomes-12 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .img_sobre2{
        gap: 20px;
        display: flex;
    }

    footer{
        gap: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer1{
        margin-top: -20px;
        display: flex;
        align-items: center;
    }

    .footer1 a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        margin-left: 10px;
    }

    .footer1 p{
        font-size: 14px;
        margin-left: -25px;
        padding-right: 50px;
    }

    #download-form{
        top: 50%;
        left: 50%;
        padding: 15px 25px;
    }
    
    #download-form h2{
        font-size: 21px;
        margin-top: -50px;
        margin-left: 15px;
    }
    
    .form1{
        margin-left: -30px;
        margin-top: -55px;
    }
    
    .form0{
        margin-left: 40px;
        width: 200px;
    }
    
    button.btn-env{
        margin-top: -45px;
        margin-left: 130px;
    }
    
    .btn-env{
        padding: 11px;
        width: 110px;
        margin-left: 40px;
    }

    .selecao{
        padding: 13px;
        width: 230px;
        margin-left: 40px;
    }
    
    .nome{
        font-size: 15px;
        margin-left: 45px;
        margin-bottom: 0px;
    }

    .interface{
        padding: 20px;
        margin-left: 3px;
    }
    
    .interface h3{
        font-size: 16px;
        width: 150px;
    }
    
    .mapas img{
        height: 90px;
        width: 150px;
    }
    
    .especialidades{
        display: flex;
        gap: 5px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        margin-top: -30px;
    }

    a.download-link{
        font-size: 15px;
        padding: 6px 6px;
    }

    .pdfs h1{
        font-size: 30px;
    }
    
    .pdfs{
        margin-top: 0px;
    }

    #mapas1{
        margin-top: 200px;
    }

}

@media (max-width: 320px){

    body{
        overflow-x: hidden;
    }

    .btn-abrir-menu{
        display: grid;
    }

    .menu-pc{
        display: none;
    }

    .logop img{
        width: 180px;
        height: 140px;
        margin-top: -5px;
        margin-left: -35px;
    }

    .mapamental{
        flex-direction: column-reverse;
    }

    .img-prc{
        margin-top: -90px; 
    }

    .img-fora h2{
        line-height: 30px;
        margin-top: 5px;
        font-size: 30px;
    }

    .img-fora h2 span{
        line-height: 35px;
    }

    .img-fora p{
        margin-top: -20px;
        line-height: 17px;
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .img-prc img{
        height: 220px;
        width: 270px;
    }

    .explicacao{
        margin-top: 150px;
    }

    .explicacao1{
        flex-direction: column-reverse;
        margin-top: 0px;
    }

    .explicacao1 div h2{
        text-align: center;
    }

    .explicacao1 div p{
        margin-top: -10px;
        font-size: 16px;
        line-height: 15px;
        width: 300px;
    }

    .sobre-nos{
        margin-top: 50px;
    }

    .img-fora{
        margin-top: -100px;
    }

    .img_sobre{
        display: block;
        margin-bottom: -200px;
        margin-top: -140px;
    }

    .img_sobre1 img{
        margin-top: 120px;
        width: 100px;
        margin-left: 0px;
    }

    .img_sobre1{
        display: flex;
    }

    #o-que-e img{
        display: none;
    }

    .sobre-nos11{
        margin-top: -200px;
    }

    .sobre-nos11 h2{
        text-align: center;
    }

    .nomes-1 h3{
        font-size: 17px;
        margin-left: -10px;
        margin-top: 130px;
        margin-bottom: -10px;
    }

    .nomes-1 p{
        width: 230px;
        font-size: 13px;
        margin-left: -15px;
    }

    .nomes1 img{
        width: 100px;
        height: 120px;
        margin-left: 0px
    }

    .nomes-12 h3{
        font-size: 19px;
        margin-left: -10px;
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .nomes-12 p{
        width: 230px;
        font-size: 16px;
        margin-left: -10px;
    }

    .img_sobre2{
        gap: 20px;
        display: flex;
    }

    footer{
        gap: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer1{
        margin-top: -20px;
        display: flex;
        align-items: center;
    }

    .footer1 a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        margin-left: 10px;
    }

    .footer1 p{
        font-size: 14px;
        margin-left: -25px;
        padding-right: 50px;
    }

    #download-form{
        top: 50%;
        left: 50%;
        padding: 15px 25px;
    }
    
    #download-form h2{
        font-size: 21px;
        margin-top: -50px;
        margin-left: 15px;
    }
    
    .form1{
        margin-left: -30px;
        margin-top: -55px;
    }
    
    .form0{
        margin-left: 40px;
        width: 200px;
    }
    
    button.btn-env{
        margin-top: -45px;
        margin-left: 130px;
    }
    
    .btn-env{
        padding: 11px;
        width: 110px;
        margin-left: 40px;
    }

    .selecao{
        padding: 13px;
        width: 230px;
        margin-left: 40px;
    }
    
    .nome{
        font-size: 15px;
        margin-left: 45px;
        margin-bottom: 0px;
    }

    .interface{
        padding: 20px;
        margin-left: 3px;
    }
    
    .interface h3{
        font-size: 15px;
        width: 150px;
    }
    
    .mapas img{
        height: 90px;
        width: 150px;
    }
    
    .especialidades{
        display: flex;
        gap: 5px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        margin-top: -30px;
    }

    a.download-link{
        font-size: 15px;
        padding: 6px 6px;
    }

    .pdfs h1{
        font-size: 30px;
    }
    
    .pdfs{
        margin-top: 0px;
    }

    #mapas1{
        margin-top: 200px;
    }

}